<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="isStudent()">
            <a class="nav-link" routerLink="/student-update-info">Student Info</a>
          </li>
          <li class="nav-item" *ngIf="isStudent()">
            <a class="nav-link" routerLink="/assign-courses">Assign Courses</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/generate-schedule">Generate Schedule</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/add-course">Add Course</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/add-classroom">Add Classrooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-course-information">View Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-student" *ngIf="isAdmin()">Add Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-faculty" *ngIf="isAdmin()">Add Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="logOff()">Log Off</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
