<div *ngIf="canBeLoaded(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-main-comp></app-main-comp>
</ng-template>
<ng-template #elseBlock>
  <app-auth-comp></app-auth-comp>
</ng-template>

<!-- The Modal -->
<div class="modal" id="myModal"  #theModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{message}}
      </div>

    </div>
  </div>
</div>
